# Indian Start-up Funding Analysis (2018 - 2021)

### Aim:
To assess the investment potential and attractiveness of the Indian startup ecosystem and provide recommendations for optimal course of action

### Objectives:
 
1. To assess the overall attractiveness of the Indian startup ecosystem based on funding trends and investor activity from 2018 to 2021.
2. To identify key sectors with high potential for investment based on their funding attractiveness and growth prospects.
3. To evaluate the investment opportunities across different stages of startup development and their risk-return profiles.
4. To analyze the geographical distribution of startups and funding to identify strategic investment locations and regional investment disparities.
5. To determine the correlation between funding amounts received by startups and their subsequent performance, providing insights into potential returns on investment and success rates.

### Business Questions:
1. What are the trends in funding amounts received by Indian startups from 2018 to 2021?
2. Which sectors attracted the highest amount of funding during this period?
3. How do the funding trends vary across different stages of startup development (Pre-series A, Series B, SeriesC etc.)?
4. Is there a correlation between the geographical location of startups and the funding they received?
5. What is the relationship between funding amounts and the subsequent success or failure of startups?

### Hypothesis to Test:
 
Given the goal of assessing the investment potential in the Indian startup ecosystem, we hypothesize that:
 
- **H1:** The funding amounts received by Indian startups have shown a positive trend from 2018 to 2021, indicating investor confidence and potential for returns.
- **H2:** Sectors such as technology, e-commerce, and fintech have attracted substantial funding, suggesting growth opportunities and market demand.
- **H3:** Early-stage startups have garnered significant funding, indicating a fertile ground for innovation and potential high returns on investment.
- **H4:** There is a correlation between the geographical location of startups and the funding they received, with certain hubs like Bangalore, Mumbai, and Delhi attracting more investment due to infrastructure, talent pool, and market access.
- **H5:** Startups that received higher funding amounts are more likely to achieve success and provide satisfactory returns on investment, thus indicating the potential for profitable investment opportunities in the Indian startup ecosystem.

In [51]:
# import relevant packages
import pyodbc
from dotenv import dotenv_values
import pandas as pd
import warnings
import numpy as np

warnings.filterwarnings('ignore')

#### Connect to server for 2020 and 2021 datasets

In [52]:
# load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials from .env file
database=environment_variables.get("DATABASE")
server=environment_variables.get("SERVER")
login=environment_variables.get("LOGIN")
password=environment_variables.get("PASSWORD")

# create a connection string
connection_string=f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={login};PWD={password}"

In [53]:
# create connection using the pyodbc method 

connection = pyodbc.connect(connection_string)

#### Select tables of interest from the Database

In [54]:
# selecting tables from Database
db_query = ''' SELECT *
            FROM INFORMATION_SCHEMA.TABLES
            WHERE TABLE_TYPE = 'BASE TABLE' '''

#### View tables of interest from the Database for verification purposes

In [55]:
# call selected table from SQL Database
ata=pd.read_sql(db_query, connection)

ata

  TABLE_CATALOG TABLE_SCHEMA               TABLE_NAME  TABLE_TYPE
0         dapDB          dbo  LP1_startup_funding2021  BASE TABLE
1         dapDB          dbo  LP1_startup_funding2020  BASE TABLE

In [56]:
# Call DataFrame to understand DataFrame details for 2020
query= "SELECT * FROM dbo.LP1_startup_funding2020"
data_2020 =pd.read_sql(query, connection)

data_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [57]:
# Call DataFrame to understand DataFrame details for 2021.
query= "SELECT * FROM dbo.LP1_startup_funding2021"
data_2021 =pd.read_sql(query, connection)

data_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

#### Load csv data from other sources for analysis

In [58]:
# Read 2018 DataFrame to understand data structure.
data_2018=pd.read_csv("D:\\JHanson\\Justice Hanson\\DS Career Accelerator\Project 1\\Indian-Start-up-Investment-Analysis\\CSV Data\\startup_funding2018.csv")

data_2018.head(5)

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [59]:
# Read 2019 DataFrame to understand data structure.
data_2019=pd.read_csv("D:\\JHanson\\Justice Hanson\\DS Career Accelerator\Project 1\\Indian-Start-up-Investment-Analysis\\CSV Data\\startup_funding2019.csv")

data_2019.head(5)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

#### Print the original column names to verify their structure

In [60]:
# Inspect column names in each DataFrame  to understand data structure.

print("Column names in 2018 DataFrame:")
print(data_2018.columns)

print("\nColumn names in 2019 DataFrame:")
print(data_2019.columns)

print("\nColumn names in 2020 DataFrame:")
print(data_2020.columns)

print("\nColumn names in 2021 DataFrame:")
print(data_2021.columns)

Column names in 2018 DataFrame:
Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

Column names in 2019 DataFrame:
Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

Column names in 2020 DataFrame:
Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

Column names in 2021 DataFrame:
Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

#### Column name Observations:
The datasets from 2018 to 2021 on Indian startup funding contain varying column names. The inconsistent column names necessitates a renaming strategy to align them uniformly before effectively merged into one DataFrame

### Column Mapping

In [61]:
# Define a column_mapping dictionary to standardize column names for consistent and accurate analysis
column_mapping = {
    'Company Name': 'Company',
    'Company/Brand': 'Company',
    'Company_Brand': 'Company',
    'Industry': 'Sector',
    'Sector': 'Sector',
    'Round/Series': 'Stage',
    'Stage': 'Stage',
    'Amount': 'Amount',
    'Amount($)': 'Amount',
    'Location': 'HeadQuarter',
    'HeadQuarter': 'HeadQuarter',
    'About Company': 'What_it_does',
    'What it does': 'What_it_does',
    'What_it_does': 'What_it_does',
    'Founded': 'Founded',
    'Founders': 'Founders',
    'Investor': 'Investor'
}

# Rename the columns in each DataFrame using the rename method and the column_mapping
data_2018.rename(columns=column_mapping, inplace=True)
data_2019.rename(columns=column_mapping, inplace=True)
data_2020.rename(columns=column_mapping, inplace=True)
data_2021.rename(columns=column_mapping, inplace=True)

# Print the renamed column names for verification
print("\nRenamed column names:")
print("2018 DataFrame:", data_2018.columns)
print("2019 DataFrame:", data_2019.columns)
print("2020 DataFrame:", data_2020.columns)
print("2021 DataFrame:", data_2021.columns)

Renamed column names:
2018 DataFrame: Index(['Company', 'Sector', 'Stage', 'Amount', 'HeadQuarter', 'What_it_does'], dtype='object')
2019 DataFrame: Index(['Company', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')
2020 DataFrame: Index(['Company', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')
2021 DataFrame: Index(['Company', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

### Merge 2018, 2019, 2021, 2021 DataFrame into one table (df_Merged)

In [62]:
# Merge DataFrames into one table using the concatenation function.
df_merged = pd.concat([data_2018, data_2019, data_2020, data_2021], ignore_index=True)

# Print the first few rows of the merged DataFrame
print("\nMerged DataFrame:")
print(df_merged.head())

Merged DataFrame:
           Company                                             Sector  \
0  TheCollegeFever  Brand Marketing, Event Promotion, Marketing, S...
1  Happy Cow Dairy                               Agriculture, Farming
2       MyLoanCare   Credit, Financial Services, Lending, Marketplace
3      PayMe India                        Financial Services, FinTech
4         Eunimart                 E-Commerce Platforms, Retail, SaaS

      Stage       Amount                       HeadQuarter  \
0      Seed       250000       Bangalore, Karnataka, India
1      Seed  ₹40,000,000        Mumbai, Maharashtra, India
2  Series A  ₹65,000,000           Gurgaon, Haryana, India
3     Angel      2000000       Noida, Uttar Pradesh, India
4      Seed            —  Hyderabad, Andhra Pradesh, India

                                        What_it_does  Founded Founders  \
0  TheCollegeFever is a hub for fun, fiesta and f...      NaN      NaN
1  A startup which aggregates milk from dairy far...      NaN      NaN
2          Leading Online Loans Marketplace in India      NaN      NaN
3  PayMe India is an innovative FinTech organizat...      NaN      NaN
4  Eunimart is a one stop solution for merchants ...      NaN      NaN

  Investor column10
0      NaN      NaN
1      NaN      NaN
2      NaN      NaN
3      NaN      NaN
4      NaN      NaN

### Introduce new column (year_founded) for easy comparison and time series analysis

In [63]:
# Add Year_founded column to each DataFrame for comparison.
data_2018['year_founded'] = 2018
data_2019['year_founded'] = 2019
data_2020['year_founded'] = 2020
data_2021['year_founded'] = 2021

In [64]:
# Merge all DataFrames into one.
df_merged = pd.concat([data_2018, data_2019, data_2020, data_2021], ignore_index=True)

### Verify if new column (year_founded) is added to merged DataFrame successfully

In [65]:
# Print the first few rows of the merged DataFrame to verify that the year_founded column has been added correctly.

df_merged.head(5)

,Company,Sector,Stage,Amount,HeadQuarter,What_it_does,year_founded,Founded,Founders,Investor,column10
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,NaN,NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018,NaN,NaN,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018,NaN,NaN,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018,NaN,NaN,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018,NaN,NaN,NaN,NaN

### Verify from the bottom of the merged DataFrame

In [66]:
# Print the last few rows of the merged DataFrame to verify years have been added correctly

df_merged.tail(5)

,Company,Sector,Stage,Amount,HeadQuarter,What_it_does,year_founded,Founded,Founders,Investor,column10
2874,Gigforce,Staffing & Recruiting,Pre-series A,$3000000,Gurugram,A gig/on-demand staffing company.,2021,2019.0,"Chirag Mittal, Anirudh Syal",Endiya Partners,NaN
2875,Vahdam,Food & Beverages,Series D,$20000000,New Delhi,VAHDAM is among the world’s first vertically i...,2021,2015.0,Bala Sarda,IIFL AMC,NaN
2876,Leap Finance,Financial Services,Series C,$55000000,Bangalore,International education loans for high potenti...,2021,2019.0,"Arnav Kumar, Vaibhav Singh",Owl Ventures,NaN
2877,CollegeDekho,EdTech,Series B,$26000000,Gurugram,"Collegedekho.com is Student’s Partner, Friend ...",2021,2015.0,Ruchir Arora,"Winter Capital, ETS, Man Capital",NaN
2878,WeRize,Financial Services,Series A,$8000000,Bangalore,India’s first socially distributed full stack ...,2021,2019.0,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",NaN

 ### Data Understanding and Preparations

Preprocess df_merged to check data quality

In [67]:
# check the shape of the merged DataFrame to understand number of rows and columns

df_merged.shape

(2879, 11)

In [68]:
# Get the information about the merged DataFrame

df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company       2879 non-null   object
 1   Sector        2861 non-null   object
 2   Stage         1941 non-null   object
 3   Amount        2622 non-null   object
 4   HeadQuarter   2765 non-null   object
 5   What_it_does  2879 non-null   object
 6   year_founded  2879 non-null   int64
 7   Founded       2110 non-null   float64
 8   Founders      2334 non-null   object
 9   Investor      2253 non-null   object
 10  column10      2 non-null      object
dtypes: float64(1), int64(1), object(9)
memory usage: 247.5+ KB

In [69]:
# Verify why Amount is object

df_merged['Amount']

0            250000
1       ₹40,000,000
2       ₹65,000,000
3           2000000
4                 —
           ...
2874       $3000000
2875      $20000000
2876      $55000000
2877      $26000000
2878       $8000000
Name: Amount, Length: 2879, dtype: object

#### Observation

The Amount column is of type object. This is because the values in this column are in the form of strings. This means that the values in this column are not numeric and need to be converted to numeric data types.

In [81]:
# Set to store unique errors that may be encountered during conversion process.
unique_errors = set()

# Function to clean and convert amounts
def convert_amount(amount):
    try:
        # Remove leading and trailing currency symbols ($ and ₹) and commas
        cleaned_amount = amount.replace('$', '').replace('₹', '').replace(',', '')
        #convert the cleaned amount to a float and returns it.
        return float(cleaned_amount)
    except ValueError:
        # Store unique errors
        unique_errors.add(amount)
        return np.nan

# Apply conversion function to the 'Amount' column
df_merged['Amount'] = df_merged['Amount'].apply(lambda x: convert_amount(str(x)) if pd.notnull(x) else x)

# Print unique errors
for error in unique_errors:
    print(f"Unique Error: {error}")

#### Verify Data type for Amount column

In [80]:
# Check data information again  
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company       2879 non-null   object
 1   Sector        2861 non-null   object
 2   Stage         1941 non-null   object
 3   Amount        2312 non-null   float64
 4   HeadQuarter   2765 non-null   object
 5   What_it_does  2879 non-null   object
 6   year_founded  2879 non-null   int64
 7   Founded       2110 non-null   float64
 8   Founders      2334 non-null   object
 9   Investor      2253 non-null   object
 10  column10      2 non-null      object
dtypes: float64(2), int64(1), object(8)
memory usage: 247.5+ KB

#### Confirm Amount column is rightly formatted

In [82]:
# Verify why Amount is object

df_merged['Amount']

0         250000.0
1       40000000.0
2       65000000.0
3        2000000.0
4              NaN
           ...
2874     3000000.0
2875    20000000.0
2876    55000000.0
2877    26000000.0
2878     8000000.0
Name: Amount, Length: 2879, dtype: float64